# Copiar este archivo como .env.local y completar los valores
# NO subir .env.local a GitHub

GOOGLE_SERVICE_ACCOUNT_EMAIL=tu-cuenta@tu-proyecto.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\nTU_CLAVE_PRIVADA_AQUI\n-----END RSA PRIVATE KEY-----\n"
SPREADSHEET_ID=ID_DE_TU_GOOGLE_SHEET
